/*
  Copyright 2012-2016 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/

body {
  -webkit-user-select: none;
}

.ru-irenproject-supervisorScreen-serverAddressCaption {
  color: #707070;
}

.ru-irenproject-supervisorScreen-serverAddress {
  -webkit-user-select: text;
  cursor: auto;
}

.ru-irenproject-watchScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
}

.ru-irenproject-watchScreen > .ru-irenproject-watchScreen-scoreTablePanel {
  flex: 2;
  overflow: hidden;
}

.ru-irenproject-watchScreen > .ru-irenproject-watchedSession {
  flex: 3;
  overflow: hidden;
}

.ru-irenproject-watchScreen-scoreTablePanel {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.ru-irenproject-watchScreen-scoreTableTopPanel {
  flex: none;
  display: flex;
  align-items: baseline;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #808080;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.ru-irenproject-watchScreen-scoreTableMainPanel {
  flex: auto;
  overflow: auto;
}

.ru-irenproject-watchScreen-scoreTableBottomPanel {
  flex: none;
  display: flex;
  margin-top: 12px;
}

.ru-irenproject-watchScreen-scoreTableBottomPanel > * {
  flex: none;
}

.ru-irenproject-watchScreen-workTitle {
  font-size: larger;
}

.ru-irenproject-watchScreen-workList {
  flex: none;
  font-size: smaller;
  margin-left: auto;
}

.ru-irenproject-scoreTable {
  border-spacing: 0 2px;
}

.ru-irenproject-scoreTable td {
  white-space: nowrap;
}

.ru-irenproject-scoreTable > thead td:first-child {
  width: 20em;
}

.ru-irenproject-scoreTable > thead td:nth-child(3) {
  min-width: 9em;
}

.ru-irenproject-scoreTable > thead td:nth-child(4) {
  min-width: 6em;
}

.ru-irenproject-scoreTable > thead td:nth-child(5) {
  min-width: 6em;
}

.ru-irenproject-scoreTable td:nth-child(3) {
  text-align: right;
}

.ru-irenproject-scoreTable td:nth-child(4) {
  text-align: right;
  padding-left: 1em;
}

.ru-irenproject-scoreTable td:nth-child(5) {
  text-align: right;
}

.ru-irenproject-scoreTable-header {
  cursor: pointer;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.ru-irenproject-scoreTable-header-sortedUp::after {
  content: "";
  display: inline-block;
  background-image: url(resources/sort_up.png);
  width: 9px;
  height: 5px;
  margin-left: 4px;
  vertical-align: super;
}

.ru-irenproject-scoreTable-header-sortedDown::after {
  content: "";
  display: inline-block;
  background-image: url(resources/sort_down.png);
  width: 9px;
  height: 5px;
  margin-left: 4px;
  vertical-align: super;
}

.ru-irenproject-scoreTable-finished {
  color: #808080;
}

.ru-irenproject-scoreTable-timedOut {
  color: #808080;
}

.ru-irenproject-scoreTable-watched {
  background-color: #99ccff;
}

.ru-irenproject-scoreTable-chart {
  position: relative;
  width: 200px;
  height: 18px;
  background-color: #eeeeee;
}

.ru-irenproject-scoreTable-chart > div {
  position: absolute;
  top: 0;
  bottom: 0;
}

.ru-irenproject-scoreTable-chart-correct {
  background-color: #00cc00;
}

.ru-irenproject-scoreTable-chart-wrong {
  right: 0;
  background-color: #ee0000;
}

.ru-irenproject-scoreTable > tbody > tr {
  cursor: pointer;
}

.ru-irenproject-scoreTable > tbody > tr:hover {
  color: #0000ee;
}

.ru-irenproject-watchedSession {
  background-color: #e8e8e8;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.ru-irenproject-watchedSession-topPanel {
  flex: none;
  margin-bottom: 12px;
}

.ru-irenproject-watchedSession-responseSelector {
  flex: none;
  display: flex;
}

.ru-irenproject-watchedSession-responseHeader {
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  padding: 2px 6px;
  margin-right: 12px;
  overflow: hidden;
}

.ru-irenproject-watchedSession-responseHeader-selected {
  background-color: #99ccff;
}

.ru-irenproject-watchedSession-responseHeader:not(
    .ru-irenproject-watchedSession-responseHeader-selected) {
  cursor: pointer;
}

.ru-irenproject-watchedSession-questionContainer {
  flex: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  padding: 16px;
}

.ru-irenproject-watchedSession-detailsPanel {
  flex: none;
  margin-top: 12px;
  white-space: nowrap;
}

.ru-irenproject-watchedSession-detailsPanel > span {
  display: inline-block;
  font-weight: bold;
}

.ru-irenproject-watchedSession-result {
  min-width: 4em;
}

.ru-irenproject-watchedSession-weight {
  min-width: 4em;
}

.ru-irenproject-watchedSession-bottomPanel {
  flex: none;
  display: flex;
  margin-top: 12px;
}

.ru-irenproject-watchedSession-bottomPanel > * {
  flex: none;
}

.ru-irenproject-watchedSession-previousButton::before {
  content: "";
  display: inline-block;
  background-image: url(resources/previous.png);
  width: 16px;
  height: 16px;
  margin-right: 2px;
  vertical-align: bottom;
}

.ru-irenproject-watchedSession-nextButton::after {
  content: "";
  display: inline-block;
  background-image: url(resources/next.png);
  width: 16px;
  height: 16px;
  margin-left: 2px;
  vertical-align: bottom;
}

.ru-irenproject-watchedSession-closeButton {
  margin-left: auto;
}
