/*
  Copyright 2012-2016 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/

body {
  background-color: #ffffff;
  color: #000000;
  cursor: default;
  font-family: sans-serif;
}

a {
  color: #0000ee;
  cursor: pointer;
}

.ru-irenproject-mainScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #e8e8e8;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.ru-irenproject-mainScreen-topPanel {
  flex: none;
  margin-bottom: 12px;
}

.ru-irenproject-mainScreen-dialogPanel {
  flex: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  padding: 16px;
}

.ru-irenproject-mainScreen-bottomPanel {
  flex: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.ru-irenproject-mainScreen-bottomPanel > * {
  flex: none;
}

.ru-irenproject-mainScreen-submitButton {
  margin-right: 30px;
}

.ru-irenproject-mainScreen-previousButton::before {
  content: "";
  display: inline-block;
  background-image: url(resources/previous.png);
  width: 16px;
  height: 16px;
  margin-right: 2px;
  vertical-align: bottom;
}

.ru-irenproject-mainScreen-nextButton::after {
  content: "";
  display: inline-block;
  background-image: url(resources/next.png);
  width: 16px;
  height: 16px;
  margin-left: 2px;
  vertical-align: bottom;
}

.ru-irenproject-mainScreen-finishWorkButton {
  margin-left: auto;
}

.ru-irenproject-mainScreen-timePanel {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.ru-irenproject-mainScreen-timePanel > * {
  flex: none;
}

.ru-irenproject-mainScreen-timeIcon {
  background-image: url(resources/time.png);
  width: 16px;
  height: 16px;
}

.ru-irenproject-mainScreen-timeBox {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  margin-left: 6px;
}

.ru-irenproject-mainScreen-timeLabel {
  position: relative;
  width: 6em;
  font-family: monospace;
  text-align: center;
}

.ru-irenproject-mainScreen-timeProgress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #99ccff;
}

.ru-irenproject-finishWorkDialog {
  bottom: 0;
  right: 0;
}

.ru-irenproject-yesNoDialog {
  position: fixed;
  padding: 20px;
  background-color: inherit;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.ru-irenproject-yesNoDialog button {
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.ru-irenproject-flow {
  white-space: pre-wrap;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ffffff;
}

.ru-irenproject-flow-image {
  display: inline-block;
  vertical-align: middle;
}

.ru-irenproject-flowArea {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 16px;
}

.ru-irenproject-selectArea-choice {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}

.ru-irenproject-selectArea-choice-flow {
  flex: auto;
  overflow: hidden;
}

.ru-irenproject-selectArea:not(.ru-irenproject-area-readOnly) .ru-irenproject-selectArea-choice-flow {
  cursor: pointer;
}

.ru-irenproject-selectArea-checkbox {
  flex: none;
  margin-top: 0;
  margin-right: 8px;
}

.ru-irenproject-selectArea-checkbox:checked + .ru-irenproject-selectArea-choice-flow {
  background-color: #99ccff;
}

.ru-irenproject-inputArea {
  display: flex;
  align-items: baseline;
}

.ru-irenproject-inputArea-label {
  flex: none;
  font-weight: bold;
}

.ru-irenproject-inputArea-inputBox {
  flex: auto;
  margin-left: 8px;
}

.ru-irenproject-matchArea {
  position: relative;
}

.ru-irenproject-matchArea-item {
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
}

.ru-irenproject-matchArea:not(.ru-irenproject-area-readOnly) .ru-irenproject-matchArea-draggableItem {
  cursor: move;
}

.ru-irenproject-matchArea-container {
  position: absolute;
  background-color: #d0d0d0;
  border-style: solid;
}

.ru-irenproject-matchArea-link {
  position: absolute;
  height: 0;
  border-style: solid;
}

.ru-irenproject-matchArea-divider {
  position: absolute;
  width: 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  color: #a0a0a0;
}

.dnd-dragging {
  visibility: hidden;
}

.dnd-drag-occurring {
  cursor: move;
}

.dnd-over {
  background-color: #b3ff80 !important;
}

.ru-irenproject-orderArea {
  position: relative;
}

.ru-irenproject-orderArea-item {
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
}

.ru-irenproject-orderArea:not(.ru-irenproject-area-readOnly) .ru-irenproject-orderArea-item {
  cursor: move;
}

.ru-irenproject-orderArea-container {
  position: absolute;
  background-color: #d0d0d0;
  border-style: solid;
}

.ru-irenproject-orderArea-label {
  position: absolute;
  padding-right: 12px;
  font-size: larger;
}

.ru-irenproject-orderArea-divider {
  position: absolute;
  width: 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  color: #a0a0a0;
}

.ru-irenproject-classifyArea {
  position: relative;
}

.ru-irenproject-classifyArea-item {
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
}

.ru-irenproject-classifyArea:not(.ru-irenproject-area-readOnly) .ru-irenproject-classifyArea-item {
  cursor: move;
}

.ru-irenproject-classifyArea-container {
  background-color: #d0d0d0;
  border-style: solid;
  margin-top: 25px;
}

.ru-irenproject-classifyArea-categoryTitle {
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.ru-irenproject-classifyArea-divider {
  position: absolute;
  width: 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  color: #a0a0a0;
}

.ru-irenproject-scoreScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #e8e8e8;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.ru-irenproject-scoreScreen-pageSelector {
  flex: none;
  display: flex;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #808080;
  margin-bottom: 16px;
}

.ru-irenproject-scoreScreen-pageHeader {
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #808080;
  padding: 2px 6px;
  margin-right: 12px;
  overflow: hidden;
}

.ru-irenproject-scoreScreen-pageHeader-selected {
  background-color: #99ccff;
}

.ru-irenproject-scoreScreen-pageHeader:not(.ru-irenproject-scoreScreen-pageHeader-selected) {
  cursor: pointer;
}

.ru-irenproject-scoreScreen-pageContainer {
  flex: auto;
  overflow: hidden;
  display: flex;
}

.ru-irenproject-scoreScreen-pageContainer > * {
  flex: 1;
  overflow: hidden;
}

.ru-irenproject-testScore-overall {
  display: flex;
  align-items: flex-start;
}

.ru-irenproject-testScore-chart {
  flex: none;
  margin-right: 16px;
}

.ru-irenproject-testScore-table td:first-child {
  white-space: nowrap;
  text-align: right;
  color: #707070;
}

.ru-irenproject-testScore-table td {
  font-size: 150%;
  vertical-align: top;
}

.ru-irenproject-testScore-table-mainRow td {
  font-size: 200%;
  font-weight: bold;
}

.ru-irenproject-testScore-table-divider td {
  padding-top: 24px;
}

.ru-irenproject-questionScore {
  display: flex;
  flex-direction: column;
}

.ru-irenproject-questionScore-topPanel {
  flex: none;
  margin-bottom: 12px;
}

.ru-irenproject-questionScore-responseSelector {
  flex: none;
  display: flex;
}

.ru-irenproject-questionScore-responseHeader {
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  padding: 2px 6px;
  margin-right: 12px;
  overflow: hidden;
}

.ru-irenproject-questionScore-responseHeader-selected {
  background-color: #99ccff;
}

.ru-irenproject-questionScore-responseHeader:not(
    .ru-irenproject-questionScore-responseHeader-selected) {
  cursor: pointer;
}

.ru-irenproject-questionScore-questionContainer {
  flex: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  padding: 16px;
}

.ru-irenproject-questionScore-detailsPanel {
  flex: none;
  margin-top: 12px;
  white-space: nowrap;
}

.ru-irenproject-questionScore-detailsPanel > span {
  display: inline-block;
  font-weight: bold;
}

.ru-irenproject-questionScore-result {
  min-width: 4em;
}

.ru-irenproject-questionScore-weight {
  min-width: 4em;
}

.ru-irenproject-questionScore-bottomPanel {
  flex: none;
  margin-top: 12px;
}

.ru-irenproject-questionScore-previousButton::before {
  content: "";
  display: inline-block;
  background-image: url(resources/previous.png);
  width: 16px;
  height: 16px;
  margin-right: 2px;
  vertical-align: bottom;
}

.ru-irenproject-questionScore-nextButton::after {
  content: "";
  display: inline-block;
  background-image: url(resources/next.png);
  width: 16px;
  height: 16px;
  margin-left: 2px;
  vertical-align: bottom;
}

.ru-irenproject-selectorBar {
  display: flex;
}

.ru-irenproject-selectorBar-label {
  flex: none;
  box-sizing: border-box;
  white-space: nowrap;
}

.ru-irenproject-selectorBar-label-currentItem {
  font-weight: bold;
}

.ru-irenproject-selectorBar-diagram {
  flex: auto;
  display: flex;
  margin-left: 8px;
}

.ru-irenproject-selectorBar-diagram-item {
  flex: auto;
  margin-left: 1px;
  margin-right: 1px;
  position: relative;
}

.ru-irenproject-selectorBar-diagram-currentItem::after {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #800000;
}

.ru-irenproject-selectorBar-diagram:not(.ru-irenproject-selectorBar-diagram-disabled)
    .ru-irenproject-selectorBar-diagram-item:not(.ru-irenproject-selectorBar-diagram-currentItem) {
  cursor: pointer;
}

.ru-irenproject-curtain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.4;
}
