<!--
  Copyright 2012-2016 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-about-dialog">
  <dialog id="dialog">
    <form method="dialog">
      <div id="main">
        <img src="about_dialog.resources/icon.png" width="56" height="64">
        <div id="text">
          <div class="line">
            <span id="title">Iren</span>
            <span>© 2012–2016 Sergey Ostanin</span>
          </div>
          <div class="line">
            <span>Version <span id="version">0.2016.07beta1</span></span>
            <a id="link" href="#">http://irenproject.ru/beta/</a>
          </div>
        </div>
      </div>
      <div id="buttons">
        <span id="leftButtons">
          <button id="licenseButton" type="button">License...</button>
          <button id="librariesButton" type="button">Libraries...</button>
          <button id="translatorsButton" type="button">Translators...</button>
        </span>
        <button>Close</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #main {
      display: flex;
      align-items: flex-end;
    }

    #text {
      flex: auto;
    }

    .line {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      white-space: nowrap;
      margin-left: 12px;
    }

    .line > :last-child {
      margin-left: 4em;
    }

    #title {
      font-size: xx-large;
    }

    #version {
      -webkit-user-select: text;
      cursor: auto;
    }

    #buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }

    #leftButtons {
      white-space: nowrap;
      margin-right: 32px;
    }
  </style>
</template>

<template id="template-ru-irenproject-credits-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <textarea id="credits" readonly cols="80"></textarea>
      <button>Close</button>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    #credits {
      resize: none;
      margin-bottom: 16px;
    }
  </style>
</template>
