<!--
  Copyright 2012-2016 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-match-question-editor">
  <div id="toolbar">
    <button id="addPairButton" title="Add Pair (F5)"></button>
    <button id="addDistractorButton" title="Add Unpaired Item (F6)"></button>
    <button id="deleteRowButton" title="Delete Pair or Item (F8)"></button>
    &thinsp;
    <button id="moveRowUpButton" title="Move Pair or Item Up (Alt+Up)"></button>
    <button id="moveRowDownButton" title="Move Pair or Item Down (Alt+Down)"></button>
    &thinsp;
    <button id="optionsButton" title="Options"><span></span></button>
  </div>

  <div id="scrollable">
    <div id="formulationPlaceholder"></div>
    <div id="itemPanel"></div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #addPairButton::before {
      background-image: url(match_question_editor.resources/addPair.png);
    }

    #addDistractorButton::before {
      background-image: url(match_question_editor.resources/addDistractor.png);
    }

    #deleteRowButton::before {
      background-image: url(match_question_editor.resources/deleteRow.png);
    }

    #moveRowUpButton::before {
      background-image: url(match_question_editor.resources/moveRowUp.png);
    }

    #moveRowDownButton::before {
      background-image: url(match_question_editor.resources/moveRowDown.png);
    }

    #optionsButton > span {
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      background-image: url(match_question_editor.resources/options.png);
    }

    .edited > span::before {
      position: absolute;
      content: url(match_question_editor.resources/editedOverlay.png);
      font-size: 0;
      right: 0;
      bottom: 0;
    }

    #scrollable {
      overflow-x: hidden;
      overflow-y: auto;
    }

    #formulation {
      border-style: solid;
      border-width: 1px;
    }

    #itemPanel > * {
      margin-top: 12px;
    }

    .pair {
      display: flex;
    }

    .pair > * {
      flex: 1;
    }

    .pair > :last-child {
      margin-left: 12px;
    }

    .distractor {
      margin-left: calc(50% + 6px);
    }
  </style>
</template>

<template id="template-ru-irenproject-match-question-options-dialog">
  <dialog id="dialog">
    <form method="dialog">
      <div id="main">
        <fieldset>
          <legend>Pairs</legend>
          <label>
            <input type="radio" name="pairs" checked>Offer all
          </label>
          <div>
            <label>
              <input id="randomPairs" type="radio" name="pairs">Randomly select
            </label>
            <input id="pairLimit" type="number" min="1" value="1" required>
          </div>
        </fieldset>
        <fieldset>
          <legend>Unpaired Items</legend>
          <label>
            <input type="radio" name="distractors" checked>Offer all
          </label>
          <div>
            <label>
              <input id="randomDistractors" type="radio" name="distractors">Randomly select
            </label>
            <input id="distractorLimit" type="number" min="0" value="0" required>
          </div>
        </fieldset>
      </div>
      <div id="buttons">
        <button value="ok">OK</button>
        <button formnovalidate>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #main {
      display: flex;
    }

    #main > :not(:first-child) {
      margin-left: 8px;
    }

    fieldset {
      margin: 0;
    }

    fieldset > div {
      margin-top: 8px;
    }

    #buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    #buttons > * {
      min-width: 6em;
    }

    #buttons > :not(:first-child) {
      margin-left: 8px;
    }
  </style>
</template>
