<!--
  Copyright 2012-2016 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-profile-screen">
  <div id="main">
    <div id="listPlaceholder"></div>
    <div id="profilePanel"></div>
  </div>

  <div id="bottomPanel">
    <button id="closeButton">Close</button>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #main {
      flex: auto;
      overflow: hidden;
      display: flex;
    }

    #list {
      flex: 1;
    }

    #profilePanel {
      flex: 3;
      overflow: hidden;
      display: flex;
    }

    #profilePanel > * {
      flex: 1;
      padding: 8px;
    }

    #bottomPanel {
      flex: none;
      display: flex;
      justify-content: flex-end;
      padding: 8px;
    }
  </style>
</template>

<template id="template-ru-irenproject-profile-list-editor">
  <div id="toolbar">
    <button id="addButton" title="Add Profile (F2)"></button>
    <button id="deleteButton" title="Delete Profile (Del)"></button>
    &thinsp;
    <button id="moveUpButton" title="Move Profile Up (Alt+Up)"></button>
    <button id="moveDownButton" title="Move Profile Down (Alt+Down)"></button>
  </div>

  <span id="caption">Profiles</span>

  <div id="scrollable" tabindex="0">
    <div id="main"></div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #addButton::before {
      background-image:
          url(profile_screen.resources/addOverlay.png),
          url(profile_screen.resources/profile.png);
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    #deleteButton::before {
      background-image: url(profile_screen.resources/delete.png);
    }

    #moveUpButton::before {
      background-image: url(profile_screen.resources/moveUp.png);
    }

    #moveDownButton::before {
      background-image: url(profile_screen.resources/moveDown.png);
    }

    #caption {
      font-weight: bold;
      background-color: #d0d0d0;
      padding: 2px;
    }

    #scrollable {
      flex: auto;
      overflow: auto;
    }

    #main {
      min-width: max-content;
    }

    #main > * {
      padding: 2px;
    }

    #main > :empty::before {
      content: attr(data-untitled);
      opacity: 0.3;
    }

    .selected {
      background-color: #99ccff;
    }
  </style>
</template>

<template id="template-ru-irenproject-profile-editor">
  <label id="titleLabel">
    Profile:&nbsp;<input id="title" placeholder=" ">
  </label>

  <form id="options">
    <div class="caption">Question Selection</div>

    <label>
      <input id="selectAll" type="radio" name="questionSelection">All
    </label>
    <label>
      <input id="selectRandom" type="radio" name="questionSelection">Randomly select
    </label>
    <input id="questionsPerSection" type="number" min="1" max="999" required>&nbsp;from each section

    <div id="labelFilterBlock">
      <label>
        <input id="useLabelFilter" type="checkbox">With labels&nbsp;
      </label>
      <input id="labelFilter" disabled>
    </div>

    <label class="line">
      <input id="shuffleQuestions" type="checkbox">Shuffle questions
    </label>

    <div class="caption">Time Limit</div>

    <label>
      <input id="unlimitedTime" type="radio" name="timeLimitSelector">None
    </label>
    <input id="limitedTime" type="radio" name="timeLimitSelector">
    <input id="timeLimit" type="number" min="1" max="999" required>&nbsp;minutes

    <div class="caption">Test Process</div>

    <label class="line">
      <input id="editableAnswers" type="checkbox">Allow editing answers
    </label>
    <label class="line">
      <input id="instantAnswerCorrectness" type="checkbox">Instantly show if the answer is correct
    </label>
    <label class="line">
      <input id="instantTotalPercentCorrect" type="checkbox">Show current result in percent
    </label>

    <div class="caption">Display</div>

    <label class="line">
      <input id="browsableQuestions" type="checkbox">Allow browsing through questions
    </label>
    <label class="line">
      <input id="weightCues" type="checkbox">Reflect question weights on diagram
    </label>
  </form>

  <div class="caption">Modifiers</div>
  <div id="modifierListEditorPlaceholder"></div>

  <form id="score">
    <div class="caption">Results</div>

    <label class="line">
      <input id="showScore" type="checkbox">Show results after testing
    </label>
    <label class="line indented">
      <input id="percentCorrect" type="checkbox">Result in percent
    </label>
    <label class="line indented">
      <input id="mark" type="checkbox">Grade
    </label>
    <label class="line indented">
      <input id="points" type="checkbox">Points earned
    </label>

    <label class="line">
      <input id="showQuestionScore" type="checkbox">Show question details
    </label>
    <label class="line indented">
      <input id="questionPercentCorrect" type="checkbox">Outcome (right/wrong)
    </label>
    <label class="line indented">
      <input id="questionCorrectAnswer" type="checkbox">Correct answer
    </label>
    <label class="line indented">
      <input id="questionPoints" type="checkbox">Question weight
    </label>

    <label class="line">
      <input id="showSectionScore" type="checkbox">Show section details
    </label>
    <label class="line indented">
      <input id="sectionPercentCorrect" type="checkbox">Result in percent
    </label>
    <label class="line indented">
      <input id="sectionPoints" type="checkbox">Points earned
    </label>
    <label class="line indented">
      <input id="sectionQuestionCount" type="checkbox">Number of questions
    </label>
    <label class="line indented">
      <input id="sectionQuestionList" type="checkbox">Question list
    </label>
  </form>

  <div class="caption">Grading Scale</div>

  <table id="markScale">
    <thead>
      <tr>
        <td>Lower Bound, %</td>
        <td>Grade</td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <button id="addMarkButton">Add...</button>

  <style>
    :host {
      overflow-x: hidden;
      overflow-y: auto;
    }

    .caption {
      background-color: #d0d0d0;
      padding: 2px;
      margin-top: 12px;
      margin-bottom: 8px;
    }

    input:invalid {
      background-color: #ffaaaa;
    }

    .line {
      line-height: 1.5;
    }

    .line::after {
      content: "\a";
      white-space: pre;
    }

    .indented {
      margin-left: 16px;
    }

    #titleLabel {
      display: flex;
      align-items: baseline;
    }

    #title {
      flex: auto;
    }

    #labelFilterBlock {
      display: flex;
      margin-top: 8px;
      margin-bottom: 2px;
    }

    #labelFilter {
      flex: auto;
    }

    #markScale {
      border-collapse: collapse;
    }

    #markScale > thead {
      font-weight: bold;
      font-size: smaller;
    }

    #markScale td:first-child {
      text-align: right;
      padding-right: 1em;
    }

    #markScale td {
      vertical-align: top;
      padding: 2px;
    }

    #markScale > tbody > tr {
      cursor: pointer;
    }

    #markScale > tbody > tr:hover {
      background-color: #99ccff;
    }

    #addMarkButton {
      display: block;
      margin-top: 4px;
    }
  </style>
</template>

<template id="template-ru-irenproject-mark-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <div id="main">
        <label>
          <span class="caption">Lower bound:</span>
          <input id="lowerBound" type="number" min="0" max="100" step="0.01" required> %
        </label>
        <label>
          <span class="caption">Grade:</span>
          <input id="title" size="30">
        </label>
      </div>
      <div id="buttons">
        <button formnovalidate>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #form {
      display: flex;
    }

    #main {
      display: flex;
      flex-direction: column;
    }

    #main > :not(:first-child) {
      margin-top: 8px;
    }

    .caption {
      display: inline-block;
      min-width: 9em;
      text-align: right;
    }

    #lowerBound::-webkit-inner-spin-button {
      display: none;
    }

    #buttons {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

    #buttons > :not(:first-child) {
      margin-top: 8px;
    }
  </style>
</template>
