<!--
  Copyright 2012-2016 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-question-list-editor">
  <div id="toolbar">
    <button id="addButton"><img id="questionTypeImage"></button><button id="addDropDown" class="dropDown"></button>
    <button id="deleteButton" title="Delete Question (Del)"></button>
    &thinsp;
    <button id="setWeightButton" title="Set Question Weight (F3)"></button>
    <button id="modifiersButton" title="Question Modifiers (F4)"></button>
    <button id="setEnabledButton" title="Forbid Use"></button>
    &thinsp;
    <button id="moveUpButton" title="Move Question Up (Alt+Up)"></button>
    <button id="moveDownButton" title="Move Question Down (Alt+Down)"></button>
    &thinsp;
    <button id="profilesButton" title="Profiles"></button>
  </div>

  <span id="caption">Questions</span>

  <table class="table header">
    <tr>
      <td></td><!-- type icon -->
      <td>N</td>
      <td>Text</td>
      <td>Weight</td>
    </tr>
  </table>

  <div id="scrollable" tabindex="0">
    <table id="table" class="table"></table>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button.highlighted {
      background-color: #ffffff;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #toolbar > button.dropDown::before {
      width: 4px;
    }

    .dropDown {
      -webkit-appearance: menulist;
    }

    #questionTypeImage {
      display: block;
      width: 16px;
      height: 16px;
    }

    #deleteButton::before {
      background-image: url(question_list_editor.resources/delete.png);
    }

    #setWeightButton::before {
      background-image: url(question_list_editor.resources/setWeight.png);
    }

    #modifiersButton::before {
      background-image: url(question_list_editor.resources/modifiers.png);
    }

    #setEnabledButton::before {
      background-image: url(question_list_editor.resources/setEnabled.png);
    }

    #moveUpButton::before {
      background-image: url(question_list_editor.resources/moveUp.png);
    }

    #moveDownButton::before {
      background-image: url(question_list_editor.resources/moveDown.png);
    }

    #profilesButton::before {
      background-image: url(question_list_editor.resources/profiles.png);
    }

    #caption {
      font-weight: bold;
      background-color: #d0d0d0;
      padding: 2px;
    }

    #scrollable {
      flex: auto;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
    }

    .table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;
    }

    /* type icon */
    .table td:first-child {
      width: 18px;
      padding-left: 8px;
    }

    /* N */
    .table td:nth-child(2) {
      width: 3em;
      text-align: right;
      padding-right: 1em;
    }

    /* Weight */
    .table td:nth-child(4) {
      width: 4em;
      text-align: right;
      padding-left: 1em;
    }

    .header {
      font-weight: bold;
      opacity: 0.5;
    }

    .selected {
      background-color: #99ccff;
    }

    .disabled > td {
      opacity: 0.3;
      text-decoration-line: line-through;
    }

    .typeIcon {
      position: relative;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
    }

    .hasModifiers::before {
      position: absolute;
      content: url(question_list_editor.resources/modifierOverlay.png);
      font-size: 0;
      right: 0;
      bottom: 0;
    }
  </style>
</template>
